{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100 pt-5">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column" style="max-width: 400px;">
                <img class="img-fluid" src="/static/assets/icon.webp">
                <h2 class="text-center mt-2">Банковская система</h2>
                <p class="text-center">Возьми кредит</p>
            </div>
        </div>
    </div>
{% endblock %}